{% load static freelancer_tags i18n wagtailcore_tags wagtailuserbar wagtailimages_tags widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Ads: 654820644 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-654820644"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-654820644');
</script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131753955-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131753955-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}{% endblock title %}</title>
    <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>

    <!-- JQuery -->


    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'freelancer/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'freelancer/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="{% static 'freelancer/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Plugin JS -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>


    <!-- Custom styles for this template -->
    <link href="{% static 'freelancer/css/freelancer.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {# icon stuff #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'freelancer/img/favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'freelancer/img/favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'freelancer/img/favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'freelancer/img/favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'freelancer/img/favicon_package/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Felix Hall - Freelance Django Web App Developer">
    <meta name="application-name" content="Felix Hall - Freelance Django Web App Developer">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#4e8efc">
{% block extra_links %}
{% endblock %}


</head>

<body id="page-top">
{% wagtailuserbar 'bottom-right' %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" id="navbarBrand">{% block _page_title %}{{ page.title }}{% endblock %}</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary txt-dark rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% block navbar_el %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'course:python_course' %}">Python Course</a>
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}


{% block footer %}
{% endblock %}

{% block scrolltotop %}
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel-autoscroll.js"></script> -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'freelancer/vendor/jquery/jquery.min.js' %}" ></script>
<script src="{% static 'freelancer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>

<!-- Plugin JavaScript -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 -->
<script src="{% static 'freelancer/vendor/jquery-easing/jquery.easing.min.js' %}" ></script>
<script src="{% static 'freelancer/vendor/magnific-popup/jquery.magnific-popup.min.js' %}" ></script>

<!-- Slick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<!-- Custom scripts for this template -->
<script src="{% static 'freelancer/js/freelancer.js' %}" ></script>

{% block custom_js_script %}
{% endblock %}

{% endblock %}
{% block extra_js %}
{% endblock %}

</body>

</html>