/* line 1, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.landing_screen {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 7, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.landing_screen-background {
  background-image: linear-gradient(#000203 0%, #00345E 85%, #004D89 100%); }

/* line 15, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.landing_screen-illustration {
  display: block;
  position: relative;
  width: auto;
  height: 90%;
  margin: 0 auto;
  top: 10vh;
  transform: translateY(-50%); }

/* line 25, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.landing_screen-hover {
  width: 100%;
  height: 100%;
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards; }

/* line 32, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 4278ms ease-in-out infinite;
  animation-fill-mode: forwards; }

/* line 39, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-20 2359ms ease-in-out infinite;
  animation-delay: 2430ms;
  animation-fill-mode: forwards; }

/* line 47, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-30 4116ms ease-in-out infinite;
  animation-delay: 2352ms;
  animation-fill-mode: forwards; }

/* line 55, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-50 2260ms ease-in-out infinite;
  animation-delay: 3416ms;
  animation-fill-mode: forwards; }

/* line 63, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-60 4362ms ease-in-out infinite;
  animation-delay: 1412ms;
  animation-fill-mode: forwards; }

/* line 71, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-70 2461ms ease-in-out infinite;
  animation-delay: 719ms;
  animation-fill-mode: forwards; }

/* line 79, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-80 4607ms ease-in-out infinite;
  animation-delay: 1851ms;
  animation-fill-mode: forwards; }

/* line 87, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-90 4319ms ease-in-out infinite;
  animation-delay: 3932ms;
  animation-fill-mode: forwards; }

/* line 95, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-100 3491ms ease-in-out infinite;
  animation-delay: 1064ms;
  animation-fill-mode: forwards; }

/* line 103, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-110 5990ms ease-in-out infinite;
  animation-delay: 291ms;
  animation-fill-mode: forwards; }

/* line 111, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-120 4533ms ease-in-out infinite;
  animation-delay: 5050ms;
  animation-fill-mode: forwards; }

/* line 119, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-150 2915ms ease-in-out infinite;
  animation-delay: 2250ms;
  animation-fill-mode: forwards; }

/* line 127, wagtail_freelancer/course/static/course/css/floating_code_island.scss */
.number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-160 3553ms ease-in-out infinite;
  animation-delay: 1002ms;
  animation-fill-mode: forwards; }

@keyframes hover {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-3px); }
  75% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }

@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0; } }

@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0; } }
