{% extends "freelancer/base.html" %}
{% load static %}

<title>
	{% block title %}
	Student Holiday Course 
	{% endblock %}
</title>


{% block _page_title %}
Student Coding Course
{% endblock %}

{% block extra_links %}
<!-- Event snippet for Website traffic conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-654820644/DgGmCICk0csBEKSKn7gC'});
</script>


<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
{# flipper #}


{# stripe #}


<link rel="stylesheet" type="text/css" href="{% static 'freelancer/css/freelancer.css' %}">
<script src="{% static 'freelancer/js/freelancer.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'course/css/course.css' %}">
<!-- link rel="stylesheet" type="text/x-scss" href="{% static 'course/css/floating_code_island.scss' %}"link rel="stylesheet" type="text/x-scss" href="{% static 'course/css/word_swipe.scss' %}" -->


{# more icons?? possibly swap out #}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
{# program styling, funky accordion #}
<link rel="stylesheet" type="text/css" href="{% static 'course/css/funky_accordion.css' %}">
{# link rel="stylesheet" type="text/css" href="{% static 'course/css/standard_accordion.css' % #}
<link rel="stylesheet" type="text/css" href="{% static 'course/css/floating_code_island.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'course/css/accordion.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'course/css/countdown.css' %}">


{# jquery validate #}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script> -->

{# reCaptcha #}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>



{% endblock %}


{% block navbar_el %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#portfolio">Portfolio</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">About</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#contact">Contact</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'course:python_course' %}">Python Course</a>
</li>
{% endblock %}

{# main content! #}
{% block content %}
<p id="top_spacer"></p>

{% if success %}
<div id="payment_success_banner" class="alert alert-success" role="alert" style="margin-bottom: 0;">
	<br>
	<br>
  <h4 class="alert-heading">Yeha things worked!</h4>
  <p>I'm so excited to meet you! Check your emails, and let's get things started!</p>
</div>
{% endif %}

{% if error %}
<div id="payment_success_banner" class="alert alert-warning" role="alert" style="margin-bottom: 0;">
	<br>
	<br>
  <h4 class="alert-heading">Oh no!</h4>
  <p>An error occured!! Please refresh the page and try again.</p>
</div>
{% endif %}

{% include 'course/floating_code_island.html' %}


<div class="container-fluid bg-secondary">
	
<div class="row cl-white" style="justify-content: center; padding-bottom: 0; padding-top: 0.2rem">
	<div class="col-sm-2">
		<h4><span style="font-weight: 100; text-align: right;">These holidays: </span></h4>
	</div>
	<div class="col-sm-3">
        <div class="cl-white slick-carousel-words" style="font-weight: 500; text-align: left"> 
<!--        Use classes 2,3, or 4 to match the number of words --> 
            <div><h4>Forget boredom.</h4></div> 
            <div><h4>Have fun.</h4></div> 
            <div><h4>Feel fulfilled.</h4></div> 
            <div><h4>Feel satisfied.</h4></div> 
            <div><h4>Feel connected.</h4></div> 
        </div>  
		
	</div>
</div>


<div class ="container bg-secondary" style="padding-bottom: 0;">
<section class="pyBenefits" id="pyBenefits" style=" padding-top: 2rem">
	<div class="row has-animation animation-ltr cl-white" style="justify-content: center;" data-delay="100">
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-heart" ></i>
		</div>
		<div class="mission_txt">
		<strong>Most loved programming language.</strong> It's neateness, ability to write powerful code simply makes it THE most loved programming language as of 2020! (CondinGame, 2020)
		</div>
	</div>
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-line-chart" ></i>
		</div>
		<div class="mission_txt">
		<strong>Fastest growing language.</strong> It's beauty and efficiency has lead to more and more companies chosing python over other languages. (Stackoverflow, 2019)
		</div>
	</div>
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-space-shuttle" ></i>
		</div>
		<div class="mission_txt">
		<strong>Incredibly useful.</strong> Regardless of the field. Python is used for healthcare, media, education, aerospace, finance, real estate, beauty and construction. (CodinGame, 2020)  
		</div>
	</div>
	</div>

	{# quotes and picture #}
	<div class="row align-items-center coding has-animation animation-rtl" style="justify-content: center; padding-top: 4rem;" data-delay="100">
		{# python picture #}
		<div class="col-sm-2 align-self-center mx-3" style="text-align: center;">
			<img class="img-fluid d-block mx-auto" src="{% static 'course/img/Square-podium.png' %}" alt="" style="width: 30vw;">
		</div>

		{# quotes #}
		<div class="col-sm-9 quotes bg-primary border-dark border-angle-exclude-bl cl-dark" style="text-align: left;">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<br>

				{# Wrapper for slides #}
				<div class="slick-carousel">

				<div class="item active">
					<div>
					<blockquote class="blockquote_styling coding_quotes">
					Everybody should learn how to program a computer because it teaches you how to think.
					<br>
					-Steve Jobs
					</blockquote>
					</div>
				</div>

				<div class="item">
					<div>
					<blockquote class="blockquote_styling coding_quotes">
					Whether you want to uncover the secrets of the universe, or you want to pursue a career in the 21st century, basic computer programming is an essential skill to learn.
					<br>
					-Stephen Hawking
					</blockquote>
					</div>
				</div>
				<div class="item">
					<div>
					<blockquote class="blockquote_styling coding_quotes">
					All of my friends who have younger siblings who are going to college or high school - my number one piece of advice is: You should learn how to program.
					<br>
					-Mark Zuckerberg
					</blockquote>
					</div>
				</div>

				</div>
			</div>

		</div>

		
</div>
</section>


<section class="course-outline" style="padding-bottom: 0">
	<div class="row">
	

	{# course outline #}
	{# https://freefrontend.com/css-text-animations #}
	<div class="
	col-md-7 align-self-right 
	bg-primary border-primary border-angle-exclude-br
	has-animation animation-ltr" data-delay="500"
	style="text-align: left; padding-top: 1rem;">
	<div class="course_outline_details cl-dark">
		
		<h2>Course details:</h2>
		<p>An exciting new course for prospect Pythonastias (python lovers)! Within a <strong>3 day</strong> course <u>(8th-9th of April or the 14th-17th of April)</u> broken up into <strong>4 hour chunks</strong>, I hope to see you go from 0... to <u>generating uniquely yet beautiful shapes on the fly</u>, to writing scripts that get into our local cinema website (cineplex.com.au) and <u>getting the next 500 movies that haven't even been listed yet!</u> To <u>getting your computer to type things out for you!</u> To feeling comfortable working within <u>professional coding environment</u>.</p>
		<p>Still confused? Hopefully the following Q&A will help:</p>

		<dl class="accordion">
		  <dt class="accordion-titles"><a href="">How old do students need to be able to participate?</a></dt>
		  <dd class="accordion-content">High school students and above (yes adults too! I am focusing on <u>useful content</u> that’s why it’s targeted to an older demographic). But also, this is just a recommendation, a grade 6 student should be able to follow just fine for example, and I’ll accomodate to the group demographic.</dd>

		  <dt class="accordion-titles"><a href="">What tools do they need to participate ?</a></dt>
		  <dd class="accordion-content">
			<ul>
				<li>PC</li>
				<li>Microphone</li>
				<li>Stable internet connection</li>
				<li>Python, installation procedures sent after registeration</li>
			</ul>
		  </dd>
		    <dt class="accordion-titles"><a href="">Is there an itinerary for each hour?</a></dt>
		  <dd  class="accordion-content">
			Yep, check it out to the right (computer) or below (mobile)
		  </dd>

		  <dt class="accordion-titles"><a href="">
		Is there a limit to attendees?
		  </a></dt>
		  <dd  class="accordion-content">
		Kinda...
		Currently there are: {{ spots_left_num }} spots left. But! If there is more interest I am happy to offer more session, I want to help as many people discover something new, learn a skill that can really help them... whilst helping parents feel confident.
		  </dd>

		<dt class="accordion-titles"><a href="">
		Is there an assumed knowledge needed before participating?
		</ul>

		  </a></dt>
		 <dd  class="accordion-content">
		<ul>
			<li>How to use a computer,</li>
			<li>Installing software, at least following instructions for it,</li>
			<li>How to be a good human on social channels  (don't mind the memes, but anything inappropriate would see one removed at one's own expense).</li>
		</ul>
		 </dd>
		  

		<dt class="accordion-titles"><a href="">
		Will you be connected to the students through video the whole time or able to answer their questions someway?
		  </a></dt>
		 <dd  class="accordion-content">
		I will be connected the whole time during each session.
		Students will be provided a digital platform to communicate directly with me or someone else who can help. Preferably, communication between those taking the course would happen as connection and making new connection is crucial within these times. So fostering and maintaining this would also be covered.

		 </dd>

		<dt class="accordion-titles"><a href="">
		Are there examples of things they could create?

		  </a></dt>
		 <dd  class="accordion-content">
			What can be done with python and turtle? (First thing covered), practically? <a href="http://www.grantjenks.com/docs/freegames/">Here are some fun examples:</a> 
		
			Some examples of what would be covered in day 2 and 3 that I've used:
		
			<ul>
				<li>Formatting hundred of slides in PowerPoint,</li>
				<li>
				Editing a 1000 line file, which would have taken me 30min going fast, in under 1s
				</li>
				<li>Downloading school textbooks, music online, or even predicting future movies that haven’t even been published on most sites.</li>
				<li>Donating over 10,000 grains of rice without doing anything within 4 days!</li>
			</ul>
		 </dd>

		<dt class="accordion-titles"><a href="">
		Why python?

		  </a></dt>
		 <dd  class="accordion-content">
		 	<div>
		Some examples of apps that use python:
		 	</div>
		 	<div>
		Amazon shopping, Dropbox, Netflix, Facebook, Instagram, Spotify... Get the gist? (For the gamemakers out there, Disney's pirate of the Caribbean was also done in python!)
		 	</div>
		 	<div>
		Why? Because it's scalable, it's clean, it can do things fast! (Eg. Ever had to repeat the same action 3 times on a computer? Automate it!)
		 	</div>
		<div>
		Why bother learning it? Most industries, ranging from agriculture to beauty are impacted by technology. Unfortunately those who understand it will be far better positioned to navigate themselves, communicate with those who can drive change and create their own paths.
		</div>
		
		 </dd>

		<dt class="accordion-titles"><a href="">
		Experience with teens/children? Any industry experience?
		  </a></dt>
		 <dd  class="accordion-content">
		<ul>
			<li>Mentored a total of over 100 students in robotics for 2 years, with one team being invited to compete internationally.</li>
			<li>Run leadership courses for youth.</li>
			<li>Helped managed a scout troop for over 2 years.</li>
			<li>2yrs solving industry problems <u>thanks to python</u></li>
		</ul>
		 </dd>

		</dl>

		
	</div>
	</div>

	{# current photo #}
	{# footer background: .copyright #}
	<div class="col-md-5 align-self-left 
	bg-theme-darkened border-dark border-angle-top" 
	style="text-align: center; padding: 0;">

	{% include 'course/funky_accordion.html' %}
	</div>
</div>


</section>
</div>


<div class="container bg-theme-darkened border-dark" id="final_details" style="padding-top: 0">
		
	
<section style="padding-top: 1rem">	
			<h2 class="cl-white" style="text-align: center;">Ready to feel productive?</h2>

<div class="row">
	<div class="col-sm-6  cl-white">
		<!-- <h1 class="overview" style="text-align: left;">But who am I?</h1> -->

		<div class="align-items-center" style="text-align: center;">
		<h5>Deadline: <i>Sunday 5th April</i></h5>
<!-- 		<div class="flipper" 
     data-datetime="2020-01-01 00:00:00" 
     data-template="ddd|HH|ii|ss" 
     data-labels="Days|Hours|Minutes|Seconds" 
     data-reverse="true"
     id="myFlipper"
		</div>
     > -->

			<img class="img-fluid mb-5 d-block mx-auto rounded-circle" src="{% static 'course/img/profile-2020.png' %}" alt="" style="width: 20vw; height: auto; padding: 0.5rem;">
			<div class="cl-white" data-ride="carousel" style="align-self: center;">
				<br>

				{# Wrapper for slides #}
				<div class="slick-carousel-icons">

				<div class="item active">
					<div class="mission_icon">
					<i class="fa fa-clock-o" ></i>
					</div>
					<div class="mission_txt">
						<strong>Industry experience.</strong>
					</div>
					
				</div>

				<div class="item">
				<div class="mission_icon">
					<i class="fa fa-pencil" ></i>
					</div>
					<div class="mission_txt">
						<strong>Visual Learning through Turtle.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-comments-o" ></i>
					</div>
					<div class="mission_txt">
						<strong>Can relate to difficulties.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-users" ></i>
					</div>
					<div class="mission_txt">
						<strong>Strong accessible support network.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-terminal" ></i>
					</div>
					<div class="mission_txt">
						<strong>Real coding, real projects.</strong>
					</div>
				</div>

				</div>
			</div>
			<!-- <img class="img-fluid mb-5 mx-auto rounded-circle" src="{% static 'freelancer/img/profile.png' %}" alt="" style="width: 40%; height: auto;">
			<p>(Me 2yrs ago)</p> -->
		</div>
		<h4 style="text-align: center">Want to <a href="/#contact">get in touch?</a></h4>

	</div>
	<div class="col-sm-6 cl-white">
		<h4>Interested?</h4>
		<h5><i>Limited time only:</i> get a recording of session 1 for free, sign up for the full thing later! That's almost 1hour of content avaliable.</h5>
		<p>(So if anything, enjoy the free stuff)</p>
        <p hidden id="stripe_pk">{{ stripe_public_key }}</p>
		<form method="post" id="StripeForm" role="form">
			    {% include 'bf_forms.html' with form=form %}
		        {% csrf_token %}
	              <div class="g-recaptcha" data-sitekey="6LeCo6MUAAAAAPU33gX1-SSwJqhc3R9FxRYpmx8f"></div>

		        <button class="btn btn-primary btn-lg"
		        >Join the excitment!<span class="glyphicon glyphicon-shopping-cart"></span></button>
		    </form>
	</div>
</div>

</section>

{# containers #}
</div>
</div>

<script>
// $(function(){
// });

</script>

{# scripts #}

<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="{% static 'course/js/course.js' %}"></script>
<script src="{% static 'course/js/standard_accordion.js' %}"></script>

{% endblock %}

{% block extra_js %}

{% endblock %}