{% extends "freelancer/base.html" %}
{% load static %}

<title>
	{% block title %}
	Student Holiday Course 
	{% endblock %}
</title>


{% block _page_title %}
Student Coding Course
{% endblock %}

{% block extra_links %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'freelancer/css/freelancer.css' %}">
<script src="{% static 'freelancer/js/freelancer.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'course/css/course.css' %}">
<script src="{% static 'course/js/course.js' %}"></script>




{% endblock %}


{% block navbar_el %}
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#portfolio">Portfolio</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">About</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#contact">Contact</a>
</li>
{% endblock %}

{# main content! #}
{% block content %}
<p style="font-size: 7rem; margin-bottom: 7rem;"></p>

<div class ="container">
<section class="pyBenefits" id="pyBenefits">
	<div class="row" style="justify-content: center;">
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-heart" ></i>
		</div>
		<div class="mission_txt">
		<strong>Most loved programming language.</strong> It's neateness, ability to write powerful code simply makes it THE most loved programming language as of 2020! (CondinGame, 2020)
		</div>
	</div>
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-line-chart" ></i>
		</div>
		<div class="mission_txt">
		<strong>Fastest growing language.</strong> It's beauty and efficiency has lead to more and more companies chosing python over other languages. (Stackoverflow, 2019)
		</div>
	</div>
	<div class="col-sm-3 align-self-center mx-4" style="text-align: center;">
		<div class="mission_icon">
			<i class="fa fa-space-shuttle" ></i>
		</div>
		<div class="mission_txt">
		<strong>Incredibly useful.</strong> Regardless of the field. Python is used for healthcare, media, education, aerospace, finance, real estate, beauty and construction. (CodinGame, 2020)  
		</div>
	</div>
	</div>
</section>

<section class="coding" style="justify-content: center;">
	<div class="row align-items-center" >

		{# quotes #}
		<div class="col-sm-7 quotes bg-primary border-primary-angle-right" style="text-align: left;">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<br>

				{# Wrapper for slides #}
				<div class="slick-carousel">

				<div class="item active">
					<div>
					<blockquote class="blockquote_styling">
					Everybody should learn how to program a computer because it teaches you how to think.
					<br>
					-Steve Jobs
					</blockquote>
					</div>
				</div>

				<div class="item">
					<div>
					<blockquote class="blockquote_styling">
					Whether you want to uncover the secrets of the universe, or you want to pursue a career in the 21st century, basic computer programming is an essential skill to learn.
					<br>
					-Stephen Hawking
					</blockquote>
					</div>
				</div>
				<div class="item">
					<div>
					<blockquote class="blockquote_styling">
					All of my friends who have younger siblings who are going to college or high school - my number one piece of advice is: You should learn how to program.
					<br>
					-Mark Zuckerberg
					</blockquote>
					</div>
				</div>

				</div>
				{# Left and right controls #}
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
				</a>
			</div>

		</div>

		{# python picture #}
		<div class="col-sm-2 align-self-center" style="text-align: center;">
			<img class="img-fluid d-block mx-auto" src="{% static 'course/img/Cropped-podium.png' %}" alt="" style="width: 30vw;">
		</div>
		
	</div>
</section>

<section class="course-outline">
	<div class="row">
	
	<div class="col-sm-3 align-self-left" style="text-align: center;">
		<img class="img-fluid mb-5 d-block mx-auto rounded-circle" src="{% static 'freelancer/img/profile.png' %}" alt="" style="width: 30vw; height: auto;">
		{# COURSE BENEFITS #}
			<div id="myCarousel" class="carousel slide" data-ride="carousel" style="align-self: center;">
				<br>

				{# Wrapper for slides #}
				<div class="slick-carousel">

				<div class="item active">
					<div class="mission_icon">
					<i class="fa fa-clock-o" ></i>
					</div>
					<div class="mission_txt">
						<strong>Industry experience.</strong>
					</div>
					
				</div>

				<div class="item">
				<div class="mission_icon">
					<i class="fa fa-pencil" ></i>
					</div>
					<div class="mission_txt">
						<strong>Visual Learning through Turtle.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-comments-o" ></i>
					</div>
					<div class="mission_txt">
						<strong>Can relate to difficulties.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-users" ></i>
					</div>
					<div class="mission_txt">
						<strong>Strong accessible support network.</strong>
					</div>
				</div>

				<div class="item">
					<div class="mission_icon">
					<i class="fa fa-terminal" ></i>
					</div>
					<div class="mission_txt">
						<strong>Real coding, real projects.</strong>
					</div>
				</div>

				</div>
			</div>

		</div>

	{# course outline #}
	{# https://freefrontend.com/css-text-animations #}
	<div class="col-sm-8 align-self-right bg-primary border-primary-angle-right" style="text-align: left;">
		<h2>Course details:</h2>
		<p>An exciting new course for prospect Pythonastias (python lovers)! Within a <strong>3 day</strong> course broken up into <strong>4 hour chunks</strong>, I hope to see you go from 0... to <u>generating uniquely yet beautiful shapes on the fly</u>, to writing scripts that get into our local cinema website (cineplex.com.au) and <u>getting the next 500 movies that haven't even been listed yet!</u> To <u>getting your computer to type things out for you!</u> To feeling comfortable working within <u>professional coding environment</u>.</p>
		<p>Still confused? Well here's the plan:</p>
		<h3>Day 1:</h3>
		<ul>
			<li>Start: What in the world is Python?</li>
			<li>Finish: Writing cool graphics based on user input.</li>
		</ul>
		<h3>Day 2:</h3>
		<ul>
			<li>Start: Intermediate python concepts - object oriented programming.</li>
			<li>Finish: Writing automated scripts that can get data from the web, edit files or control your computer's mouse!</li>
		</ul>
		<h3>Day 3:</h3>
		<ul>
			<li>Start: What have we just achieved? Quetions time.</li>
			<li>Finish: Setting up a proper coding environment, feeling comfortable with the command line and packaging scripts (so you can show it off to all your friends!)</li>
		</ul>
	</div>

		
	</div>
</section>

<section class="container">	
<div class="row">
	<div class="col-sm-6">
		<form method="post" id="StripeForm" role="form">
			    {% include 'bf_forms.html' with form=form %}
		        {% csrf_token %}
		        <p id="payment_breakdown">That's roughly: $10/hr. Excluding private one-on-one time, the invaluable support network and connections.</p>
		        <input id="hourly_rate" type="hidden"></input>
		        <button class="btn btn-primary btn-lg" id="stripe_button"
		        >Let's do this! <span class="glyphicon glyphicon-shopping-cart"></span></button>

		    </form>
	</div>
	<div class="col-sm-6">
		<h1 class="overview">Here's stuff</h1>
	</div>
</div>

</section>

</div>

<script type="text/javascript">


</script>
{% endblock %}