{% extends "course/course_landing.html" %}
{% load static %}

<title>
	{% block title %}
	Student Holiday Course Payment
	{% endblock %}
</title>


{% block _page_title %}
Student Coding Course Payment
{% endblock %}

{% block course_extra_link %}

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>


{# jquery validate #}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script> -->

{% endblock %}


{% block cutoff_details %}
<h5>Deadline: <i>June 26th</i></h5>
<!-- <h5>Price: <i>$30-$80</i></h5> -->
{% endblock %}

{% block main_form %}
<h4>Payment form</h4>
<p hidden id="stripe_pk">{{ stripe_public_key }}</p>
<form method="post" id="StripeForm" role="form">
	    {% include 'bf_forms.html' with form=form %}
        {% csrf_token %}
        <p hidden id="payment_breakdown">That's roughly: $10/hr. Excluding private one-on-one time, the invaluable support network and connections.</p>
        <input id="hourly_rate" type="hidden"></input>
        <input id="total_price" type="hidden"></input>
          <div class="g-recaptcha" data-sitekey="6LeCo6MUAAAAAPU33gX1-SSwJqhc3R9FxRYpmx8f"></div>
		
        {% if course_not_closed %} 
        <button class="btn btn-primary btn-lg" id="stripe_button"
        >$40 Finalise Payment<span class="glyphicon glyphicon-shopping-cart"></span></button>
        {% else %} 
        <button disabled class="btn btn-primary btn-lg" id=""
        >Sorry, course is full.<span class="glyphicon glyphicon-shopping-cart"></span></button>
        {% endif %}


        <h4 id="name_review_comment">Sometimes, name helps with human connection...</h4>
        <h4 id="price_review_comment">Sometimes, a price tag needs to be double checked.</h4>
    </form>
    {% endblock %}


{# scripts #}

{% block course_extra_js %}
<script src="{% static 'course/js/course_stripe.js' %}"></script>
{% endblock %}

