
<div class='program_right'>
  <div class='program_app'>
    <div class='program_app_inner'>
      <input checked='' id='tab-1' name='buttons' type='radio'>
      <label for='tab-1'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 1 
          </h2>
          <div class='tab_left'>
            <i class='big icon ion-android-color-palette'></i>
            <div class='tab_left__image'>
              <i class='icon ion-android-color-palette'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Python introduction - basics</h3>
            <h4>variables, loops, lists</h4>
            <h4>touch on: functions and conditionals</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-2' name='buttons' type='radio'>
      <label for='tab-2'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 2 
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-code'></i>
            <div class='tab_left__image'>
              <i class='fa fa-code'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Python basics - the complex end</h3>
            <h4>Conditionals, dictionaries, lists</h4>
            <h3>Challenges:</h3>
                <h4>tracking shopping cart expenses</h4>
                <h4>create a timetable</h4>
                <h4>beautiful graphics with Turtle</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-3' name='buttons' type='radio'>
      <label for='tab-3'>
        <div class='program_app_inner__tab'>
          <h2>
          <i class="fa fa-chevron-down"></i>
            Session 3
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-file-code-o'></i>
            <div class='tab_left__image'>
              <i class='fa fa-file-code-o'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>File mania!</h3>
            <h4>controlling files on the desktop</h4>
            <h4>gaining control of the mouse and keyboard</h4>
            <h3>Challenges:</h3>
                <h4>write a program for a game you play</h4>
                <h4>sort all files in the download folder</h4>
                <h4>create a simple text editor</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-4' name='buttons' type='radio'>
      <label for='tab-4'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 4
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-internet-explorer'></i>
            <div class='tab_left__image'>
              <i class='fa fa-internet-explorer'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Web mania!</h3>
            <h4>controlling the web</h4>
            <h3>Challenges:</h3>
                <h4>donating rice without doing anything</h4>
                <h4>help fund ecosia without doing anything</h4>
                <h4>get the next 500 unreleased movies from cineplex.com.au</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-5' name='buttons' type='radio'>
      <label for='tab-5'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 5
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-terminal'></i>
            <div class='tab_left__image'>
              <i class='fa fa-terminal'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Professional coding environment</h3>
            <h4 class="cl-white">Learning the command line</h4>
            <h4 class="cl-white">Running programs with Sublime Text</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-6' name='buttons' type='radio'>
      <label for='tab-6'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 6
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-github'></i>
            <div class='tab_left__image'>
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Collaboration makes work easier</h3>
            <h4 class="cl-white">github and professional workflows</h4>
            <h4 class="cl-white">working collaboratively on a mega project!</h4>

          </div>
        </div>
      </label>

    </div>
  </div>
</div>

