
<div class='program_right'>
  <div class='program_app'>
    <div class='program_app_inner'>
      <input checked='' id='tab-1' name='buttons' type='radio'>
      <label for='tab-1'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 1 
          </h2>
          <div class='tab_left'>
            <i class='big icon ion-android-color-palette'></i>
            <div class='tab_left__image'>
              <i class='icon ion-android-color-palette'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Python introduction - basics</h3>
            <h4>variables, loops, graphic drawings</h4>
            <h4>touch on: lists and dictionaries</h4>
            <h3>Challenge: automated drawing in python</h3>
          </div>
        </div>
      </label>

      <input false='' id='tab-2' name='buttons' type='radio'>
      <label for='tab-2'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 2 
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-code'></i>
            <div class='tab_left__image'>
              <i class='fa fa-code'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Python basics - the complex end</h3>
            <h4>Conditionals, lists manipulaton</h4>
            <h3>Challenge: TikTak Toe</h3>
          </div>
        </div>
      </label>

      <input false='' id='tab-3' name='buttons' type='radio'>
      <label for='tab-3'>
        <div class='program_app_inner__tab'>
          <h2>
          <i class="fa fa-chevron-down"></i>
            Session 3
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-file-code-o'></i>
            <div class='tab_left__image'>
              <i class='fa fa-file-code-o'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Computer wizard!</h3>
            <h4>proffessional coding environment</h4>
            <h4>mastering the command line</h4>
            <h4>computerised mouse and keyboard control</h4>
            <h3>Challenges:</h3>
                <h4>Completing MIT challenge</h4>
                <h4>Automating environmental funding</h4>
                <h4>(funding ecosia without doing anything)</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-4' name='buttons' type='radio'>
      <label for='tab-4'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 4
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-internet-explorer'></i>
            <div class='tab_left__image'>
              <i class='fa fa-internet-explorer'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Web mania!</h3>
            <h4>controlling the web - the DOM</h4>
            <h4>Hunting through the web with Beautiful Soup</h4>
            <h3>Challenges:</h3>
                <h4>discover unreleased movies from cineplex.com.au</h4>
          </div>
        </div>
      </label>

      <input false='' id='tab-5' name='buttons' type='radio'>
      <label for='tab-5'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 5
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-terminal'></i>
            <div class='tab_left__image'>
              <i class='fa fa-terminal'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Web Wizardry!</h3>
            <h4 class="cl-white">Learning professional high-demand python tool Selenium</h4>
            <h3 class="cl-white">Challenge: Automating Ecosia searches like a PRO</h3>
          </div>
        </div>
      </label>

      <input false='' id='tab-6' name='buttons' type='radio'>
      <label for='tab-6'>
        <div class='program_app_inner__tab'>
          <h2>
            <i class="fa fa-chevron-down"></i>
            Session 6
          </h2>
          <div class='tab_left'>
            <i class='big fa fa-github'></i>
            <div class='tab_left__image'>
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Becoming the web wizard</h3>
            <h3 class="cl-white">Automating online trivias answers</h3>
            <h3 class="cl-white">Donating rice without doing anything</h3>
            <h3 class="cl-white">Making programs into desktop applications</h3>

          </div>
        </div>
      </label>

    </div>
  </div>
</div>


